@import "./include/global";
@import "./include/navbar";

.container {
  width: 100%;
  height: 100vh;
}

header {
  background-color: $main-text-color;
  color: #fff;
  padding: 35px 100px;
  display: flex;
  justify-content: flex-start;
  .logo {
    a {
      margin-right: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .small-text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 23px;
    }
    .big-text {
      color: #e5d9b6;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 30px;
      margin-right: 8px;
    }
  }
}

#main-content {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    border-radius: 20px;
    box-shadow: 2px 2px 3px #333;
    background-color: $main-text-color;
    color: #fff;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    .name {
      display: flex;
      align-items: center;
      label[for="name"] {
        margin-right: 15px;
        font-size: 16px;
      }

      #name {
        font-size: 16px;
        border-radius: 5px;
        background-color: #eee;
        padding: 5px 3px;
        width: 210px;
        border: 0;
        &:focus {
          outline: none;
        }
      }
    }

    .btn-test {
      cursor: pointer;
      font-size: 16px;
      border: 0;
      padding: 8px 12px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid $main-text-color;
      color: $main-text-color;
      transition: 250ms ease-in;
      &:hover {
        background-color: #a4be7b;
        color: #fff;
        border: 1px solid #a4be7b;
      }
    }
  }
}
