@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #829e53;
  border-radius: 5px;
}

body {
  font-family: "Merriweather", serif;
  overflow-x: hidden;
  background-color: #ebe5d3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: #285430;
  color: #fff;
  padding: 35px 100px;
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
header .navbar .logo a {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .logo .small-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}
header .navbar .logo .big-text {
  color: #829e53;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-right: 8px;
}
header .navbar .submit {
  flex: 1;
  text-align: end;
}
header .navbar .submit .submit-btn {
  cursor: pointer;
  font-size: 16px;
  border: 0;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #5f8d4e;
  border: 1px solid #5f8d4e;
  color: #fff;
  transition: 250ms ease-in;
}
header .navbar .submit .submit-btn:hover {
  background-color: #fff;
  color: #285430;
  border: 1px solid #829e53;
}
header .navbar .submit .submit-btn.disabled-btn {
  background-color: #829e53;
  color: #fff;
  border: 1px solid #829e53;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 40px;
  opacity: 0.7;
  cursor: not-allowed;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  background-color: #285430;
  color: #fff;
  padding: 35px 100px;
  display: flex;
  justify-content: flex-start;
}
header .logo a {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo .small-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}
header .logo .big-text {
  color: #e5d9b6;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-right: 8px;
}

#main-content {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content form {
  border-radius: 20px;
  box-shadow: 2px 2px 3px #333;
  background-color: #285430;
  color: #fff;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}
#main-content form .name {
  display: flex;
  align-items: center;
}
#main-content form .name label[for=name] {
  margin-right: 15px;
  font-size: 16px;
}
#main-content form .name #name {
  font-size: 16px;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px 3px;
  width: 210px;
  border: 0;
}
#main-content form .name #name:focus {
  outline: none;
}
#main-content form .btn-test {
  cursor: pointer;
  font-size: 16px;
  border: 0;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #285430;
  color: #285430;
  transition: 250ms ease-in;
}
#main-content form .btn-test:hover {
  background-color: #a4be7b;
  color: #fff;
  border: 1px solid #a4be7b;
}/*# sourceMappingURL=main.css.map */