@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #829e53;
  border-radius: 5px;
}

body {
  font-family: "Merriweather", serif;
  overflow-x: hidden;
  background-color: #ebe5d3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: #285430;
  color: #fff;
  padding: 35px 100px;
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
header .navbar .logo a {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar .logo .small-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}
header .navbar .logo .big-text {
  color: #829e53;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-right: 8px;
}
header .navbar .submit {
  flex: 1;
  text-align: end;
}
header .navbar .submit .submit-btn {
  cursor: pointer;
  font-size: 16px;
  border: 0;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #5f8d4e;
  border: 1px solid #5f8d4e;
  color: #fff;
  transition: 250ms ease-in;
}
header .navbar .submit .submit-btn:hover {
  background-color: #fff;
  color: #285430;
  border: 1px solid #829e53;
}
header .navbar .submit .submit-btn.disabled-btn {
  background-color: #829e53;
  color: #fff;
  border: 1px solid #829e53;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 40px;
  opacity: 0.7;
  cursor: not-allowed;
}

#test-body {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
#test-body .test-text {
  color: #285430;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
#test-body .test-text .cat {
  font-size: 27px;
}
#test-body .test-text .cat span {
  font-size: 30px;
  color: #5f8d4e;
  font-weight: 600;
}
#test-body .test-text .time-remained {
  font-size: 27px;
}
#test-body .test-text .time-remained .time {
  font-size: 28px;
  color: #5f8d4e;
}
#test-body .test-text .time-remained .time.split {
  display: none;
}
#test-body .test-par {
  border-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #285430;
  border-right: 0;
  height: 400px;
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 2%;
  padding: 20px;
  transition: all 300ms ease;
}
#test-body .test-par h2 {
  font-size: 20px;
  color: #285430;
}
#test-body .test-par p {
  color: #285430;
  font-size: 17px;
  line-height: 45px;
}
#test-body .test-par .startBtn {
  cursor: pointer;
  background-color: #285430;
  color: #fff;
  border: 1px solid #829e53;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 10px;
  transition: 250ms ease-in;
}
#test-body .test-par .startBtn:hover {
  background-color: #fff;
  color: #285430;
  border: 1px solid #829e53;
}
#test-body .test-par .startBtn:focus {
  outline: none;
}
#test-body .test-par::-webkit-scrollbar {
  width: 15px;
}
#test-body .test-par::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 5px;
}
#test-body .test-par::-webkit-scrollbar-thumb {
  background-color: #285430;
  border-radius: 5px;
}
#test-body .test-par.start-par {
  transform: translateX(200%);
}
#test-body .test-questions {
  display: none;
  transform: translateX(-200%);
  height: 400px;
  width: 60%;
  transition: all 500ms linear;
}
#test-body .test-questions .question {
  border-radius: 10px;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#test-body .test-questions .question .questions-heading {
  color: #285430;
  font-size: 22px;
}
#test-body .test-questions .question .radioBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#test-body .test-questions .question .radioBtn .choice {
  width: 100%;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 20px;
  transition: 300ms ease;
}
#test-body .test-questions .question .radioBtn .choice input {
  cursor: pointer;
  margin-right: 20px;
}
#test-body .test-questions .question .radioBtn .choice label {
  font-size: 15px;
  cursor: pointer;
}
#test-body .test-questions .question .radioBtn .choice:hover {
  background-color: #285430;
  color: #eee;
}
#test-body .test-questions.start-q {
  display: block;
}
#test-body .test-nav {
  transform: translateX(-200%);
  width: 100%;
  margin-top: 50px;
  transition: transform 500ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#test-body .test-nav .nav-list {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#test-body .test-nav .nav-list li a {
  padding: 10px 20px;
  color: #285430;
  border: 2px solid #285430;
  transition: 200ms linear;
}
#test-body .test-nav .nav-list li a:hover, #test-body .test-nav .nav-list li a.selected {
  border: 0;
  color: #fff;
  background-color: #285430;
}
#test-body .test-nav .nav-list li a.chosen {
  background-color: rgb(37, 32, 187) !important;
  color: #fff !important;
  border: 0 !important;
}
#test-body .test-nav .btn {
  cursor: pointer;
  background-color: #285430;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 40px;
  transition: 250ms ease-in;
}
#test-body .test-nav .btn:hover:not(.disabled-btn) {
  background-color: rgba(40, 84, 48, 0.9);
  color: #fff;
}
#test-body .test-nav .btn.disabled-btn {
  background-color: #829e53;
  color: #fff;
  border: 1px solid #829e53;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 40px;
  opacity: 0.7;
  cursor: not-allowed;
}
#test-body .test-nav.start-nav {
  transform: translateX(0);
}/*# sourceMappingURL=test.css.map */