// js code :
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/test.css")
    title Invo Academy | Test
  body
    include ./include/navbar.pug
    |
    |
    main#test-body
      .test-text
        .cat Category : #[span SAT]
        .time-remained Remaining Time #[span.time #[span.min 60]:#[span.sec 00]]
      .test-par
        h2 Read the paragraph well, then Click Start Now button & answer the Questions.
        p &nbsp;
        p This passage is from Lydia Minatoya, The Strangeness of
        p Beauty. &copy;1999 by Lydia Minatoya. The setting is Japan in
        p 1920. Chie and her daughter Naomi are members of the
        p House of Fuji, a noble family.
        p &nbsp;
        p Akira&nbsp;came&nbsp;directly,&nbsp;breaking&nbsp;all&nbsp;tradition.&nbsp;Was
        p that it? Had he followed form&mdash;had he asked his&nbsp;
        p mother&nbsp;to&nbsp;speak&nbsp;to&nbsp;his&nbsp;father&nbsp;to&nbsp;approach&nbsp;a
        p Line&nbsp;go-between&mdash;would&nbsp;Chie&nbsp;have&nbsp;been&nbsp;more&nbsp;receptive?
        p 5 He&nbsp;came&nbsp;on&nbsp;a&nbsp;winter&rsquo;s&nbsp;eve.&nbsp;He&nbsp;pounded&nbsp;on&nbsp;the
        p &nbsp;door&nbsp;while&nbsp;a&nbsp;cold&nbsp;rain&nbsp;beat&nbsp;on&nbsp;the&nbsp;shuttered&nbsp;veranda,
        p &nbsp;so&nbsp;at&nbsp;first&nbsp;Chie&nbsp;thought&nbsp;him&nbsp;only&nbsp;the&nbsp;wind.&nbsp;The&nbsp;maid
        p &nbsp;knew better. Chie heard her soft scuttling footsteps,
        p &nbsp;the&nbsp;creak&nbsp;of&nbsp;the&nbsp;door.&nbsp;Then&nbsp;the&nbsp;maid&nbsp;brought&nbsp;a
        p 10&nbsp;calling&nbsp;card&nbsp;to&nbsp;the&nbsp;drawing&nbsp;room,&nbsp;for&nbsp;Chie.
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chie&nbsp;was&nbsp;reluctant&nbsp;to&nbsp;go&nbsp;to&nbsp;her&nbsp;guest;&nbsp;perhaps&nbsp;she&nbsp;
        p was&nbsp;feeling&nbsp;too&nbsp;cozy.&nbsp;She&nbsp;and&nbsp;Naomi&nbsp;were&nbsp;reading&nbsp;at
        p &nbsp;a low table set atop a charcoal brazier. A thick quilt
        p &nbsp;spread&nbsp;over&nbsp;the&nbsp;sides&nbsp;of&nbsp;the&nbsp;table&nbsp;so&nbsp;their&nbsp;legs&nbsp;were
        p 15&nbsp;tucked&nbsp;inside&nbsp;with&nbsp;the&nbsp;heat.
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Who is&nbsp;it at&nbsp;this hour,&nbsp;in this&nbsp;weather?&rdquo; Chie
        p &nbsp;questioned as she picked the name card off the
        p &nbsp;maid&rsquo;s&nbsp;lacquer&nbsp;tray.
        p &nbsp;&nbsp;&nbsp;&ldquo;Shinoda,&nbsp;Akira.&nbsp;Kobe&nbsp;Dental&nbsp;College,&rdquo;&nbsp;she&nbsp;read
        p &nbsp;&nbsp;&nbsp;&nbsp;Naomi&nbsp;recognized&nbsp;the&nbsp;name.&nbsp;Chie&nbsp;heard&nbsp;a&nbsp;soft
        p intake&nbsp;of&nbsp;air.
        p &ldquo;I&nbsp;think&nbsp;you&nbsp;should&nbsp;go,&rdquo;&nbsp;said&nbsp;Naomi.
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Akira&nbsp;was&nbsp;waiting&nbsp;in&nbsp;the&nbsp;entry.&nbsp;He&nbsp;was&nbsp;in&nbsp;his&nbsp;early
        p &nbsp;twenties,&nbsp;slim&nbsp;and&nbsp;serious,&nbsp;wearing&nbsp;the&nbsp;black
        p 25 military-style uniform of a student. As he&nbsp;
        p bowed&mdash;his&nbsp;hands&nbsp;hanging&nbsp;straight&nbsp;down,&nbsp;a
        p black&nbsp;cap&nbsp;in&nbsp;one,&nbsp;a&nbsp;yellow&nbsp;oil-paper&nbsp;umbrella&nbsp;in&nbsp;the
        p &nbsp;other&mdash;Chie glanced beyond him. In the glistening
        p &nbsp;surface&nbsp;of&nbsp;the&nbsp;courtyard&rsquo;s&nbsp;rain-drenched&nbsp;paving
        p 30 stones, she saw his reflection like a dark double.
        p &nbsp;&ldquo;Madame,&rdquo;&nbsp;said&nbsp;Akira,&nbsp;&ldquo;forgive&nbsp;my&nbsp;disruption,
        p but&nbsp;I come&nbsp;with a matter&nbsp;of urgency.&rdquo;
        p His&nbsp;voice&nbsp;was&nbsp;soft,&nbsp;refined.&nbsp;He&nbsp;straightened&nbsp;and
        p stole&nbsp;a&nbsp;deferential&nbsp;peek&nbsp;at&nbsp;her&nbsp;face.
        p 35 In&nbsp;the&nbsp;dim&nbsp;light&nbsp;his&nbsp;eyes&nbsp;shone&nbsp;with&nbsp;sincerity.
        p &nbsp;Chie&nbsp;felt&nbsp;herself&nbsp;starting&nbsp;to&nbsp;like&nbsp;him.
        p &ldquo;Come inside, get out of this nasty night. Surely
        p &nbsp;your&nbsp;business can&nbsp;wait for&nbsp;a moment&nbsp;or two.&rdquo;
        p &ldquo;I&nbsp;don&rsquo;t&nbsp;want&nbsp;to&nbsp;trouble&nbsp;you.&nbsp;Normally&nbsp;I&nbsp;would
        p 40 approach you more properly but I&rsquo;ve received word
        p &nbsp;of a position. I&rsquo;ve an opportunity to go to America, as
        p &nbsp;dentist&nbsp;for&nbsp;Seattle&rsquo;s&nbsp;Japanese&nbsp;community.&rdquo;
        p &ldquo;Congratulations,&rdquo;&nbsp;Chie&nbsp;said&nbsp;with&nbsp;amusement.
        p &nbsp;&ldquo;That&nbsp;is&nbsp;an&nbsp;opportunity,&nbsp;I&rsquo;m&nbsp;sure.&nbsp;But&nbsp;how&nbsp;am&nbsp;I
        p 45&nbsp;involved?&rdquo;&nbsp;
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Even&nbsp;noting&nbsp;Naomi&rsquo;s&nbsp;breathless&nbsp;reaction&nbsp;to&nbsp;the
        p &nbsp;name&nbsp;card,&nbsp;Chie&nbsp;had&nbsp;no&nbsp;idea.&nbsp;Akira&rsquo;s&nbsp;message,
        p &nbsp;delivered&nbsp;like&nbsp;a&nbsp;formal&nbsp;speech,&nbsp;filled&nbsp;her&nbsp;with
        p maternal&nbsp;amusement.&nbsp;You&nbsp;know&nbsp;how&nbsp;children&nbsp;speak
        p 50 so earnestly, so hurriedly, so endearingly about&nbsp;
        p things&nbsp;that&nbsp;have&nbsp;no&nbsp;importance&nbsp;in&nbsp;an&nbsp;adult&rsquo;s&nbsp;mind?
        p &nbsp;That&rsquo;s&nbsp;how&nbsp;she&nbsp;viewed&nbsp;him,&nbsp;as&nbsp;a&nbsp;child.
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It was how she viewed Naomi. Even though
        p &nbsp;Naomi&nbsp;was&nbsp;eighteen&nbsp;and&nbsp;training&nbsp;endlessly&nbsp;in&nbsp;the&nbsp;arts
        p 55&nbsp;needed&nbsp;to&nbsp;make&nbsp;a&nbsp;good&nbsp;marriage,&nbsp;Chie&nbsp;had&nbsp;made&nbsp;no
        p &nbsp;effort&nbsp;to&nbsp;find&nbsp;her&nbsp;a&nbsp;husband.
        p Akira&nbsp;blushed.
        p
          | &ldquo;Depending&nbsp;on&nbsp;your&nbsp;response,&nbsp;I&nbsp;may&nbsp;stay&nbsp;in&nbsp;Japan.&nbsp;I&rsquo;ve&nbsp;come&nbsp;to&nbsp;ask&nbsp;for&nbsp;Naomi&rsquo;s&nbsp;hand.&rdquo;
        p Akira&nbsp;blushed.
        p &ldquo;Depending&nbsp;on&nbsp;your&nbsp;response,&nbsp;I&nbsp;may&nbsp;stay&nbsp;in&nbsp;
        p Japan.&nbsp;I&rsquo;ve&nbsp;come&nbsp;to&nbsp;ask&nbsp;for&nbsp;Naomi&rsquo;s&nbsp;hand.&rdquo;
        p 60 Suddenly&nbsp;Chie&nbsp;felt&nbsp;the&nbsp;dampness&nbsp;of&nbsp;the&nbsp;night.
        p &nbsp;&ldquo;Does&nbsp;Naomi&nbsp;know&nbsp;anything&nbsp;of&nbsp;your&nbsp;.&nbsp;.&nbsp;.&nbsp;
        p ambitions?&rdquo;
        p &ldquo;We have an understanding. Please don&rsquo;t judge&nbsp;
        p my&nbsp;candidacy&nbsp;by&nbsp;the&nbsp;unseemliness&nbsp;of&nbsp;this&nbsp;proposal.&nbsp;I
        p 65 ask directly because the use of a go-between takes&nbsp;
        p much time. Either method comes down to the same
        p &nbsp;thing:&nbsp;a&nbsp;matter&nbsp;of&nbsp;parental&nbsp;approval.&nbsp;If&nbsp;you&nbsp;give&nbsp;your
        p &nbsp;consent, I become Naomi&rsquo;s yoshi.*&nbsp;We&rsquo;ll live in the
        p &nbsp;House&nbsp;of&nbsp;Fuji.&nbsp;Without&nbsp;your&nbsp;consent,&nbsp;I&nbsp;must&nbsp;go&nbsp;to
        p 70&nbsp;America, to secure&nbsp;a new home for&nbsp;my bride.&rdquo;
        p Eager&nbsp;to&nbsp;make&nbsp;his&nbsp;point,&nbsp;he&rsquo;d&nbsp;been&nbsp;looking&nbsp;her&nbsp;full
        p &nbsp;in the face. Abruptly, his voice turned gentle. &ldquo;I see
        p &nbsp;I&rsquo;ve startled you.&nbsp;My humble apologies.&nbsp;I&rsquo;ll take&nbsp;no
        p &nbsp;more&nbsp;of&nbsp;your&nbsp;evening.&nbsp;My&nbsp;address&nbsp;is&nbsp;on&nbsp;my&nbsp;card.&nbsp;If
        p 75&nbsp;you&nbsp;don&rsquo;t&nbsp;wish&nbsp;to&nbsp;contact&nbsp;me,&nbsp;I&rsquo;ll&nbsp;reapproach&nbsp;you&nbsp;in
        p &nbsp;two&nbsp;weeks&rsquo;&nbsp;time.&nbsp;Until&nbsp;then,&nbsp;good&nbsp;night.&rdquo;
        p He&nbsp;bowed&nbsp;and&nbsp;left.&nbsp;Taking&nbsp;her&nbsp;ease,&nbsp;with&nbsp;effortless
        p &nbsp;grace,&nbsp;like&nbsp;a&nbsp;cat&nbsp;making&nbsp;off&nbsp;with&nbsp;a&nbsp;fish.
        p &ldquo;Mother?&rdquo;&nbsp;Chie&nbsp;heard&nbsp;Naomi&rsquo;s&nbsp;low&nbsp;voice&nbsp;and
        p 80&nbsp;turned&nbsp;from&nbsp;the door.&nbsp;&ldquo;He has&nbsp;asked you?&rdquo;
        p The&nbsp;sight&nbsp;of&nbsp;Naomi&rsquo;s&nbsp;clear&nbsp;eyes,&nbsp;her&nbsp;dark&nbsp;brows
        p &nbsp;gave Chie strength. Maybe his hopes were
        p &nbsp;preposterous.
        p &ldquo;Where did&nbsp;you&nbsp;meet&nbsp;such&nbsp;a fellow?&nbsp;Imagine!&nbsp;He
        p 85&nbsp;thinks&nbsp;he&nbsp;can&nbsp;marry&nbsp;the&nbsp;Fuji&nbsp;heir&nbsp;and&nbsp;take&nbsp;her&nbsp;to
        p &nbsp;America&nbsp;all&nbsp;in&nbsp;the&nbsp;snap&nbsp;of&nbsp;his&nbsp;fingers!&rdquo;
        p Chie waited for Naomi&rsquo;s ripe&nbsp;laughter.
        p Naomi was silent. She stood a full half minute
        p &nbsp;looking&nbsp;straight&nbsp;into&nbsp;Chie&rsquo;s&nbsp;eyes.&nbsp;Finally,&nbsp;she&nbsp;spoke.
        p 90&nbsp;&ldquo;I&nbsp;met&nbsp;him&nbsp;at&nbsp;my&nbsp;literary&nbsp;meeting.&rdquo;
        p Naomi turned to go back into the house, then
        p &nbsp;stopped.
        p &ldquo;Mother.&rdquo;
        p &ldquo;Yes?&rdquo;
        p 95 &ldquo;I&nbsp;mean&nbsp;to&nbsp;have&nbsp;him.&rdquo;
        p *&nbsp;a&nbsp;man&nbsp;who&nbsp;marries&nbsp;a&nbsp;woman&nbsp;of&nbsp;higher&nbsp;status&nbsp;and&nbsp;takes&nbsp;her&nbsp;family&rsquo;s&nbsp;name
        button.startBtn Start Now!
      |
      |
      // Questions
      .test-questions
        .question
          h2.questions-heading This is a Question ?
          form.radioBtn
            .choice(data-choice="choice1")
              input(type="radio", name="choice", id="radio", data-choice="choice1")
              label(data-choice="choice1") This is the first choice
            .choice(data-choice="choice2")
              input(type="radio", name="choice", id="radio", data-choice="choice2")
              label(data-choice="choice2") This is the second choice 
            .choice(data-choice="choice3")
              input(type="radio", name="choice", id="radio", data-choice="choice3")
              label(data-choice="choice3") This is the third choice
            .choice(data-choice="choice4")
              input(type="radio", name="choice", id="radio", data-choice="choice4")
              label(data-choice="choice4") This is the forth choice
      .test-nav
        ul.nav-list
          -for(let i = 1; i<=10; i++)
            li #[a(href="#") #{i}]
    |
    |
    script(src="./js/test.js")