header
  nav.navbar
    .logo
      a(href="main.html")
        span.small-text Invo
        span.big-text Academy
    .nav-list
      ul.buttons
        li #[a.disabled-btn.btn(href="#", id="prev") prev]
        li #[a.btn.disabled-btn(href="#", id="next") next]
    .submit
      button.submit-btn.disabled-btn Submit Your Answer