header {
  background-color: $main-text-color;
  color: #fff;
  padding: 35px 100px;
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    .logo {
      a {
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .small-text {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 23px;
      }
      .big-text {
        color: $alt-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        margin-right: 8px;
      }
    }
    .submit {
      flex: 1;
      text-align: end;
      .submit-btn {
        cursor: pointer;
        font-size: 16px;
        border: 0;
        padding: 8px 12px;
        border-radius: 20px;
        background-color: #5f8d4e;
        border: 1px solid #5f8d4e;
        color: #fff;
        transition: 250ms ease-in;
        &:hover {
          background-color: #fff;
          color: $main-text-color;
          border: 1px solid $alt-color;
        }

        &.disabled-btn {
          background-color: $alt-color;
          color: #fff;
          border: 1px solid $alt-color;
          padding: 10px 15px;
          font-size: 14px;
          border-radius: 40px;
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }
  }
}
